<!DOCTYPE html>
<html>
<head>
    <title>Tampilan Awal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Selamat Datang!</h1>
        <p>Jika Anda sudah memiliki akun, silakan <a href="/login">login</a>.</p>
        <p>Jika belum memiliki akun, silakan <a href="/register">register</a>.</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
